// _color.scss

$base-color: #333;

$info: #1d9299;
$primary: #5cc6cc;
$success: #bde8ea;
$danger: #cc72ab;

$grey:rgba(0, 0, 0, 0.54);
$light-grey:rgba(0, 0, 0, 0.1);
$white: #fdfdfd;

$block-color: $success;
$marker: #e0aab1;
