// Web Font
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

// Foundation
@import "foundation/ress";
@import "foundation/variables";
@import "foundation/mixin";
@import "foundation/color";
@import "foundation/base";

// Layout
@import "layout/footer";
@import "layout/header";
@import "layout/main";

// Component
@import "object/component/note";
@import "object/component/addthis";

// Project
@import "object/project/list";
@import "object/project/post";
@import "object/project/author";
@import "object/project/related";
@import "object/project/pagenation";
@import "object/project/search";
