// _note.scss

.c-note {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  line-height: 1rem;
  background-color: $block-color;
  border-radius: 5px;

  &__mark {
    display: inline-block;
    padding: 0 0.5rem;
    vertical-align: top;

    i {
      font-size: 2rem;
    }
  }

  &__text {
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 2rem;
    vertical-align: top;
  }
}
