
{{ define "main" }}
<main class="l-main">
  <div class="p-list__title">
    <h2>{{ if .IsHome }}Recently posts{{ else }}
      {{ with .Title }}{{ . }}{{ end }}{{ end }}</h2>
    </div>
  <section>
    {{ range .Paginator.Pages.ByDate.Reverse }}
      {{ $thumbnail :=  .Site.Params.defaultThumbnail }}
      {{ if .Params.thumbnail }}
        {{ $thumbnail =  print .Permalink  .Params.thumbnail }}
      {{ end }}
      <div class="p-list__item">
        <a href="{{ .Permalink }}">
          <figure class="p-list__thumbnail" style="background-image: url({{ $thumbnail }})">
          </figure>
          <div class="p-list__content">
              <i class="far fa-clock"></i>
              {{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
              <h3>{{ .Title }}</h3>
              {{ .Summary | plainify | truncate 100 }}
          </div>
        </a>
      </div>
    {{ end }}
  </section>
  <nav id="pagenation">
    {{ partial "pagination.html" . }}
  </nav>
</main>
{{ end }}
