// _main.scss

.l-main {
  margin: 0 30px;
  padding: 20px 60px;

  @include tablet {
    margin: 0 20px;
    padding: 20px;
  };
  @include sp {
    margin: 0 10px;
    padding: 10px;
  };

  > h1 {
    font-size: 1.75em;
  }
}

.l-main__warning {
  padding: 20px 10px;
  text-align: center;
  border: 1px solid $light-grey;
}
