// _main.scss

.l-main {
  padding: 20px 60px;
  margin: 0 30px;

  @include tablet {
    padding: 10px 5px;
    margin: 0 5px;
  }

  > h1 {
    font-size: 1.75rem;
  }

  &__warning {
    padding: 20px 10px;
    text-align: center;
    border: 1px solid $light-grey;
  }
}
