// _author.scss

.p-author__social {
  margin: 0 0 0.75rem 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}
