// _author.scss
.p-author {
  &__social {
    margin: 0 0 0.75rem 0;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5rem;

    a {
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}
