// _related.scss

.p-related {
  margin-top: 2em;
}

.p-related__title {
  line-height: 2em;
}

.p-related__item {
  margin: 0 -2em;
  padding: 1em 2em;
  overflow: hidden;
  word-wrap: break-word;
  height: auto;

  &:hover {
    background-color: $light-grey;
    transition: all 0.3s linear 0s;
  }
  a {
    text-decoration: none;

    &:hover {
      color: $base-color;
    }
    &:active {
      color: $base-color;
    }
  }
}
