// _related.scss

.p-related {
  margin-top: 2em;
}

.p-related__title {
  line-height: 2em;
  padding: 0 10px;
}

.p-related__item {
  padding: 1em;
  overflow: hidden;
  word-wrap: break-word;
  height: auto;

  a {
    text-decoration: none;
  }
  &:hover {
    background-color: $light-grey;
    transition: all 0.3s linear 0s;
  }
  &:active {
    color: $base-color;
  }
}
