// _related.scss

.p-related {
  margin-top: 2rem;

  h3 {
    margin: 0.24em 0;
  }

  &__title {
    line-height: 2.5rem;
  }

  &__item {
    height: auto;
    padding: 1rem 2rem;
    margin: 0 -2rem;
    overflow: hidden;
    word-wrap: break-word;

    &:hover {
      background-color: $light-grey;
      transition: all 0.3s linear 0s;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $base-color;
      }

      &:active {
        color: $base-color;
      }
    }
  }
}
