.p-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;

  @media screen and (max-width: ($pc)) {
    display: none;
  }

  &__input {
    padding: 8px;
    background-color: lighten($base-color, 70%);
    border-radius: 4px;
  }

  &__button {
    padding: 4px;
    margin: 0 0 0 4px;
  }
}

.search-result {
  &__title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.ais-Hits {
  margin: 20px 0;

  &-list {
    padding: 0 0 0 12px;
  }

  &-item {
    padding: 0 0 16px 8px;
  }
}

.ais-Snippet-highlighted {
  background-color: $marker;
}
