{{ if .Site.Params.social }}
<div class="p-author__social">
  {{ with .Site.Params.social.twitter }}
    <a title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  {{ end }}
  {{ with .Site.Params.social.github }}
    <a title="Github" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  {{ end }}
  <a title="rss" href="/atom.xml" target="_blank">
      <i class="fas fa-rss"></i>
  </a>
</div>
{{ end }}
